@model ICollection<Store_BootCamp.Domain.Models.Tickets.Ticket>



<div class="ui-box bg-white mb-5">
    <div class="ui-box-title align-items-center justify-content-between">
        تیکتهای شما
        <a asp-action="AddTicket" class="btn btn-outline-light">تیکت جدید <i class="ri-add-line ms-2"></i></a>
    </div>
    <!-- <div class="ui-box-empty-content">
        <div class="ui-box-empty-content-icon">
            <img src="./theme-assets/images/theme/orders.svg" alt="">
        </div>
        <div class="ui-box-empty-content-message">تیکتی تا به الان ایجاد نکرده اید.
        </div>
    </div> -->
    <div class="ui-box-content">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>زمان ایجاد</th>
                        <th>بخش</th>
                        <th>موضوع</th>
                        <th>وضعیت</th>
                        <th>آخرین بروزرسانی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="fa-num">@item.CreateDate</td>
                            <td class="fa-num">
                                @Html.DisplayFor(a => item.TicketSection)
                            </td>
                            <td class="fa-num">@item.Title</td>
                            <td class="fa-num">
                                <span class="badge bg-warning rounded-pill">
                                    @Html.DisplayFor(a => item.TicketState)
                                </span>
                            </td>
                            <td class="fa-num">1400 دی 26</td>
                            <td>
                                <a asp-route-id="@item.Id" asp-action="TicketDetails" class="btn btn-info my-1">مشاهده</a>
                                <a asp-action="ChangeState" asp-route-id="@item.Id" class="btn btn-danger my-1">بستن تیکت</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
