@model ICollection<Store_BootCamp.Application.ViewModels.Account.UserViewmodel>



<div style="margin-right:13%" class="container">
    <div class="page-body">
        <div class="row">
            <div class="col">
                <div class="well with-header  with-footer">
                    <div class="header bg-blue">
                        Simple Table With Hover
                    </div>
                    <a class="btn btn-outline-info" asp-area="AdminPanel" asp-controller="Home" asp-action="AddUserByAdmin">Add New User By Admin</a>
                    <table class="table table-hover">

                        <thead class="bordered-darkorange">

                            <tr>
                                <th>
                                    Username

                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    FullName
                                </th>
                                <th>
                                    profile pic
                                </th>
                                <th>
                                    is active
                                </th>
                                <th>
                                    is admin
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.username
                                    </td>
                                    <td>
                                        @item.email
                                    </td>
                                    <td>
                                        @item.fullname
                                    </td>
                                    <td>
                                        <img style="width:10%" src="~/UserImage/@item.img" />
                                    </td>
                                    <td>
                                        @item.isActive
                                    </td>
                                    <td>
                                       @item.isAdmin
                                    </td>
                                    <td>
                                        <a asp-route-id="@item.id" asp-area="AdminPanel" asp-controller="Home" asp-action="EditUser" class="btn btn-outline-warning">ویرایش</a>
                                    </td>
                                    <td>
                                        <a asp-route-id="@item.id" asp-area="AdminPanel" asp-controller="Home" asp-action="DeleteUser" class="btn btn-outline-danger">حذف</a>
                                    </td>
                                    <td>
                                        <a asp-route-id="@item.id" asp-area="AdminPanel" asp-controller="Home" asp-action="FullDeleteUser" class="btn btn-outline-danger"> حذف کامل</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>
</div>

